@font-face{
    font-family: 'Coolvetica';
    src: url("../Fonts/coolvetica rg.ttf") format('truetype');
}

body {
    margin:0;
    padding:0;
    font-family: 'Coolvetica';
    background-image: url('../Image/HADE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.font{
    font-family: 'Coolvetica';
    letter-spacing: 2px;
}

.judulMain{
    font-size: 65px;
    letter-spacing: 8px;
    font-family: 'Coolvetica';
    text-align: center;
    padding-bottom: 100px;
}

.clearFloat{
    clear: both;
}

.mainButton{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 400px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 7px;
}

.mainButton:hover{
    background-color: black;
    opacity: 0.2;
    cursor: pointer;
}

.mainLogin:hover{
    text-decoration: underline;
}