<!DOCTYPE html>
<html>

<head>
    
    <title>Pesona Desa</title>
    <!-- <link rel="stylesheet" href="Style/w3.css"> -->
    <link rel="stylesheet" href="Style/frontpage.css" />
    <link rel="stylesheet" href="Fonts/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="header font">
        asdasdas
        <!-- <i class="fa fa-user w3-text-white"></i>
        <a href="" style="text-decoration: none;">
            <p class="mainLogin" style="display: inline; color: white; margin-right: 10px; font-size: 25px;">Sign in</p>
        </a> -->
    </div>
    <div class="clearFloat"></div>
    <div>
        <h1 class="w3-text-white judulMain">PESONA DESA</h1>
    </div>
    <div style="width: 39%; float: left;">
        <div style="float: right; margin-top: 150px; margin-right: 10%;" >
            <button class="mainButton">STAY</button>
        </div>
    </div>
    <div style="float: left; width: 0.5%; height: 500px; background-color: white; opacity: 0.85;">

    </div>
    <div style="width: 49.75%; float: left;">
        <div style="margin-top: 150px; margin-left: 10%;">
            <button class="mainButton">EXPERIENCE</button>
        </div>
    </div>
</body>

</html>