<!DOCTYPE html>
<html>

<head>
    <title>Pesona Desa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Style/w3.css">
    <link rel="stylesheet" href="Style/frontpage.css" />
    <link rel="stylesheet" href="Fonts/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="font" style="float: right;font-size: 30px; margin-top: 20px; margin-right: 50px;">
        <i class="fa fa-user w3-text-white"></i>
        <a href="" style="text-decoration: none;">
            <p class="mainLogin" style="display: inline; color: white; margin-right: 10px; font-size: 25px;">Sign in</p>
        </a>
    </div>
    <div class="clearFloat"></div>
    <div>
        <h1 class="w3-text-white judulMain">PESONA DESA</h1>
    </div>
    <div>
        <div style="width: 49%; display: inline-block;">
            <div style="width:40%;margin-left:30%;margin-right:30%;">
                <button style="width:40%;margin-left:30%;margin-right:30%;">STAY</button>
            </div>
        </div>
        <div style="width: 49%; display: inline-block;">
            <div style="width:40%;margin-left:30%;margin-right:30%;">
                <button style="width:40%;margin-left:30%;margin-right:30%;">EXPERIENCE</button>
            </div>
        </div>
    </div>
</body>

</html>